@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");

body{
  width: 100%;
	padding: 0 !important;
  z-index:1;
 background-color: whitesmoke;
  background-repeat: no-repeat;
  background-size: cover;

}
.container{
  width: 100%;
	padding: 0 !important;
  z-index:1;
  background-image: white;

}
.image{
  max-width:40%;
}


 /* Navbar styling */
 .navbar{
  width: 100%;
	padding-top: 1%;
	background-color:grey;
  box-shadow: 0px 10px 3px  white;
}
.navbar-brand{
	font-family: 'Amiri', serif;
	font-family: 'Bangers', cursive;
	font-family: 'Alex Brush', cursive;
  font-size: 120%;
}
.nav-item {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Amiri', serif;
	font-family: 'Bangers', cursive;
	font-family: 'Alex Brush', cursive;
  font-size: 120%;
  text-align: right;
  padding-left: 80%;

}
.nav-item li {
  float: right;
}

.nav-item li a {
  color: white;
  text-decoration: none;
  
}
.nav-item li  a:hover{
  color: green;
}







/* Form styling */
.logincard{
  box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 50px 350px 0px 400px;
    text-align: center;
    background-color: white;
    padding-bottom: 5%;
}
.registerCard{
  box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: 50px 350px 0px 400px;
  text-align: center;
  background-color: white;
}

.form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
label {
  color:white;
}
.form .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form .form-control:focus {
  z-index: 2;
}
.forminput[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.password {
  padding:20px 20px 10px 20px;
  font-size: 15px;
}

/* The dashboard */

.add-button {
  border-radius: 60%;
  width: 60px;
  height: 60px;
  background: green;
  text-align: center;
  color: white;
  position: relative;
  font-size: 35px;
}
.add-button a:hover{
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.modal-dialog{
  background-color: white;
  margin:20% 0% 0% 0%;
  z-index: 1;
}
#myModal{
  background-color: grey;
  opacity: 0.9;
  padding:0 20px 0px 20px;

}
#myMod{
  background-color: grey;
  padding:0 20px 0px 20px;
  opacity: 0.9;
}
  
.btn {
  max-width: 200px;
  display: inline;
  padding: 14px 20px;
}
.card {
  max-width: 400px;
  text-align: center;
  margin:0px 0px 5px 10px;
  
}
.card:hover{
  box-shadow: 0 4px 100px 0 black;
  transition: 0.3s;
}
.card-title {
  font-size: 20px;
}
.card-body {
  text-align: center;
  margin:0px 0 50px 0;

}
.card-body, .gly{
  padding:20px 20px 10px 20px;
  font-size: 15px;
  
}
.search{
  text-align: center;
  font-size: 30px;
  color: white;
}
/* Rsvp form */
.rsvpcard{
    box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    padding: 0 50px 0px 80px;
    margin: 50px 350px 0px 400px;
    text-align: center;
    background-color: #ffffff;
}    
.singleEventCard{
  max-width: 90%;
  background-color: white;
  max-height: 100%;
  margin:4% 5% 0 5%;
}
.singleEventCard:hover{
  box-shadow: 0 4px 19px 0 black;
  transition: 0.3s;
}
.eventimage{
  max-width:50%;

}
.btn-rsvp{
  text-decoration: none;
}



